<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div
                class="h-100 p-5 border rounded-3"
            >
                <h2>Bienvenid@ al administrador </h2>
                <p>Este espacio es para administrar su sitio web.</p>
            </div>
        </div>
        
    </div>
</body>
</html>